.genrelist-genre {
    padding: 0.5rem 1.5rem;
    border-left: 2px solid #fdc00f;
    position: relative;
    background-color: #555555;
  }

  .genrelist-genre:hover {
    background-color: #222222;
    cursor: pointer;
  }

.genrelist-genre-icon{
  right: 25px;
  position: absolute;
}

.fa-caret-down:hover {
  cursor: pointer;
  color: #fdc00f;
}

.fa-caret-up:hover {
  cursor: pointer;
  color: #fdc00f;
}

.subgenrelist{
  border-left: 2px solid #d18a2e;
  background-color: #333333;
}

.animation-origin{
  max-height: 0;
  overflow: hidden;
  transition: all 5000ms ease-in;
}

.animation-growth{
  max-height: 3000px;
  overflow:visible;
  transition: all 5000ms ease-in;
}
