.playlist-song {
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
    margin: 0 0.5rem;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 0.2rem;
  }

.playlist-song:hover{
  background-color: #bbbbbb;
  cursor: pointer;
}

  .playlist-img{
      width:30%;
  }
  
  .playlist-song-content {
    vertical-align: middle;
    width:70%;
  }
  
  .playlist-song-title {
    /* font-weight: bold; */
    /* display: flex; */
    /* justify-content: space-between; */
  }
  
  .playlist-song-like {
    font-size: 70%;
    color: #777777;
  }
  
  .fa-heart {
    margin-right: 0.2rem;
  }
  
  .playlist-img-thumbnail {
    width: 80%;
    height: 100%;
  }

  .playlist-song-detail{
      font-size: 80%;
  }
  