.content {
    display: inline-block;
    width: 50%;
    height: 100%;
    order:2;
    min-height: 1000px;
    padding: 1.1rem;
  }

  .player-title{
    text-align: center;
  }

  .player-title p{
   color: #aaaaaa; 
  }

  .main-player{
    margin-top:6px;
    width: 100%;
  }
  
  .playlist-item {
    display: block;
  }
  
  .playlist-item:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }

  .playlist-button{
    border: 1px solid #777777;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    color: #f1f1f1;
    margin: 0.3rem;
    background-color: #777777;
  }

  .playlist-button:hover{
    cursor: pointer;
    color: #fdc00f;
  }
  
