.content {
    display: inline-block;
    width: 50%;
    height: 100%;
    order:2;
  }

  .main-player{
    margin-top:20px;
    width: 90%;
  }
  
  .playlist-item {
    display: block;
  }
  
  .playlist-item:hover {
    background-color: #bbbbbb;
    cursor: pointer;
  }
  