.subgenre-item{
    /* display: none; */
    padding: 0.5rem 1.5rem 0.5rem 2.5rem;
  }
  
  .subgenre-item:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .subgenre-icon{
      float:right;
      position: relative;
  }

  .fa-plus:hover{
      cursor: pointer;
      color: #d18a2e;
  }