.genrelist{
  text-align: left;
  background-color: #aaaaaa;
  border-radius: 0.2rem;
  padding: 1.1rem;
  order: 1;
  width: 25%;
  height: 100%;
  min-height: 1000px;
}



.fa-music{
  padding: 0.2rem;
  margin: 0.3rem;
  vertical-align: middle;
  color: #ffffff;
}

  .genrelist-contents {
    margin-top:10px;
    color: #ffffff;
  }
  
  .genrelist-items {
    background-color: #555555;
    display: flex;
    flex-direction: column;
  }

  .genrelist-spinner{
    text-align: center;
    height: 50px;
    width: 50px !important;
    margin: 100% auto;
  }


  @media(min-width:47em){

  }
  
  @media(min-width:0em) and (max-width:47em){
    .genrelist{
      width: 100%;
    } 
  }